/* animation */

.target,
.target02 {
    transition-duration: 0.5s;
}

.fade-in {
    opacity: 0;
}

.fade-in.show {
    opacity: 1;
}

.fade-up {
    opacity: 0;
    transform: translateY(3rem);
}

.fade-down {
    opacity: 0;
    transform: translateY(-3rem);
}

.fade-up.show,
.fade-down.show {
    opacity: 1;
    transform: translateY(0rem);
}


@keyframes fadeUp {
    0%{transform: translateY(3rem);}
    75%{transform: translateY(-0.5rem);}
    100%{transform: translateY(0rem);}
}

.slide-in-left_to_right {
    transform: translateX(-100%);
}
.slide-in-right_to_left {
    transform: translateX(100%);
}

.slide-in-left_to_right.show,
.slide-in-right_to_left.show {
    transform: translateX(0);
}

.zoom-in {
    transform: scale(0);
}

.zoom-in.show {
    transform: scale(1);
    animation: zoomIn 0.7s;
}

@keyframes zoomIn {
    0%{transform: scale(0);}
    80%{transform: scale(1.1);}
    100%{transform: scale(1);}
}

.clip-top_to_bottom {
    clip-path: inset(0 0 100% 0);
}
.clip-bottom_to_top {
    clip-path: inset(100% 0 0 0);
}
.clip-left_to_right {
    clip-path: inset(0 100% 0 0);
}
.clip-right_to_left {
    clip-path: inset(0 0 0 100%);
}

.clip-top_to_bottom.show,
.clip-bottom_to_top.show,
.clip-left_to_right.show,
.clip-right_to_left.show {
    clip-path: inset(0 0 0 0);
}

.delay03s {
    transition-delay: 0.3s;
}
.delay06s {
    transition-delay: 0.6s;
}

.transition07s {
    transition: 0.7s;
}

/* fv_image */

.fv_image {
    opacity: 0;
    transform: translateY(5rem);
    transition: 0.7s;
}

.fv_image.show {
    opacity: 1;
    transform: translateY(0rem);
}

/* arrow */
.arrow,
.arrow_top,
.voice_arrow {
    animation: arrow-move 1s ease-in-out infinite;
}

@keyframes arrow-move {
    0% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(1rem);
    }

    100% {
        transform: translateY(0rem);
    }
}

.cta_btn {
    animation: expansion 2s infinite;
}

@keyframes expansion {
    0% {
        transform: scale(1, 1)
    }

    50% {
        transform: scale(1.08, 1.08)
    }

    100% {
        transform: scale(1, 1)
    }
}

.apostrophe {
    animation: apostrophe-move 1s ease-in-out infinite;
}

@keyframes apostrophe-move {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.step_answer {
    display: none;
    opacity: 0;
    transition: 0.5s;
}

.step_answer.show {
    display: block;
}

.step_answer.fade-in {
    opacity: 1;
}

.features_arrow_down {
    animation: arrow-down 1.5s ease-in-out infinite;
}

@keyframes arrow-down {
    0% {
        transform: translateY(-2rem);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(0rem);
        opacity: 0;
    }
}

.circle01,
.circle02,
.circle03 {
    animation: circle-move 3s linear infinite;
}

.circle02 {
    animation-delay: 0.7s;
}

.circle03 {
    animation-delay: 1.3s;
}

@keyframes circle-move {
    50%{
        opacity: 0.8;
        transform: translate(-1rem, 1rem) scale(1.1);
    }
}